<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jumbotron text-center">
    <h4>
      Editing Merchant
    </h4>
    <%= render 'form', merchant: @merchant %>
    <div class="container">
      <div class="btn btn-lg btn-info">
        <%= link_to 'Back', merchants_path %>
      </div>
    </div>
  </div>
</div>
