<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jumbotron text-center">
    <h4>
      <%= @item.title %>
    </h4>
    <%= render 'form', item: @item, merchant: @merchant %>
    <div class="container">
      <%= link_to 'Back', merchants_path(@merchant), class: 'btn btn-info' %>
    </div>
  </div>
</div>
